<div class="container">
    <div class="product">
        <div class="images">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?q=80&w=1999&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="image">
                <img src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?q=80&w=1999&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="image">
                <img src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?q=80&w=1999&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
        </div>
        <div class="main-image">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?q=80&w=1999&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
        </div>
        <div class="product-details">
            <h3>Pandora Sparkling Handwritten Love Collier Watch.</h3>
            <p class="details">Spell out what's in your heart with the Sparkling Handwritten Love Collier wacth.</p>
        </div>
    </div>
    <div class="actions">
        <div class="price">
            <h3>R   2000</h3>
        </div>

        <div class="buttons">
            <div class="add-to-cart">
                <button>Add to cart</button>
            </div>
            <div class="go-to-cart">
                <button>Go to cart</button>
            </div>
            <div class="add-to-wishlist">
                <button>Add to wishlist</button>
            </div>
        </div>
    </div>
</div>