<div class="nav-container">
    <div class="logo">Just-Store</div>
    <div class="nav-items">
        <a href="">Login</a>
        <a href="">Register</a>
        <a href="">Orders</a>
        <div class="action-icons">
            <div class="wishlist">
                <fa-icon [icon]="faWishList"></fa-icon>
                <div class="quantity">3</div>
            </div>
            <div class="cart">
                <fa-icon [icon]="faShoppingCart"></fa-icon>
                <div class="quantity">3</div>
            </div>
        </div>
    </div>
</div>