<div class="container">
    <div class="register-container">
        <div class="close-form" (click)="closeRegisterForm()"><p>x</p></div>
        <div class="form">
            <div class="header">Register</div>
            <div class="first-name">
                <label for="first-name">First Name</label>
                <input type="text" name="first-name" id="first-name" placeholder="First Name...">
            </div>
            <div class="last-name">
                <label for="last-name">Last Name</label>
                <input type="text" name="last-name" id="last-name" placeholder="Last Name...">
            </div>
            <div class="email">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="email...">
            </div>
            <div class="password">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="password...">
            </div>
            <div class="confirm-password">
                <label for="confirm-password">Confirm Password</label>
                <input type="confirm-password" name="confirm-password" id="confirm-password" placeholder="Confirm Password...">
            </div>
            <div class="register-btn">
                <button>Register</button>
            </div>
            <div class="alt-register">
                continue with google or something
            </div>

            <div class="login">
                <p>Already Registered?</p> <a href="">Login</a>
            </div>
        </div>
    </div>
</div>