<div class="products-container">
    <div class="header"><h3>Products</h3></div>
    <div class="product-list">
        <div *ngFor="let p of fakeList; let index=index" class="product">
            <div class="image">
                <img src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?q=80&w=1999&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="product-name" srcset="">
            </div>
           <div class="main">
                <div class="name">
                    <p>Random Watch</p>
                </div>
                <div class="price">
                    <p>R400</p>
                </div>
                <div class="add-to-cart">
                    <button>Add to cart</button>
                </div>
           </div>
        </div>
    </div>
</div>